p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.infobox {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: lightgray 5px center/3em no-repeat;
  border: 2px solid lightgray;
  border-radius: 0px;
}
.caution {
  background-image: url("images/caution.png");
}
.important {
  background-image: url("images/important.png");
}
.note {
  background-image: url("images/note.png");
}
.tip {
  background-image: url("images/tip.png");
}
.warning {
  background-image: url("images/warning.png");
}

/* Added by Antonio, based on Alex Quinto's code*/

.cover1 {
    width: 400px;
    height: 500px;
    background-color:lightgray;
    background-position: center;
    background-repeat: no-repeat;
    #opacity: 0.4;
    background-size: cover;
    margin: auto;
}

.cover1 {
    background-image: url("images/cover-2021/voronoi_ponyo.gif");
    /*background-image: url("images/cover-2021/voronoi_mononoke.gif");*/
}

.cover2 {
    width: 400px;
    height: 500px;
    background: url("https://images.unsplash.com/photo-1465447142348-e9952c393450?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80");
    background-position: 0px 50px;
    background-repeat: repeat-x;
    margin: auto;
    animation: animatedBackground 50s linear 0s infinite alternate;
}

/*End of addition by Antonio, based on Alex Quinto's code*/

.level1 h1 {
  border-bottom: 1px solid;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
h1.title {
  font-weight: 700;
}
